{% extends 'books/base.html' %}
{% block content %}
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success">
            <i class="fas fa-download"></i> Save
        </button>
    </form>
</div>
{% endblock %}